<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scavenger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="page-header">
        <h1>Scavenger</h1>
      </div>
      <%= yield %>

      <div class="footer">
        <p class="muted credit"><a href="https://github.com/PullRequestFive/game-off-2012">This project</a> is the work of <a href="http://natwelch.com">Nat</a> and <a href="http://alexbaldwin.com">Alex</a>.</p>
      </div>
    </div> <!-- /container -->

    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="/js/bootstrap.js"></script>
  </body>
</html>
